<form class="{{cssClass}}" autocomplete="off">
    <div class="tactic-dicePoolList">
        {{#each dicepools_primary}}
            <div class="dicePoolBox"> 
                <div class="dicePoolHeader">
                    <span class="rollIcon" data-index="{{@index}}" data-primary="true">
                        <img src="systems/mta/icons/gui/d10.svg" alt="{{localize "MTA.RollTactic"}}">
                    </span>
                    
                    <span class="dicePoolTitle">{{description}}</span>
                </div>
                <div class="dicePoolFooter">
                    <div class="dicePoolType">{{localize "MTA.Primary"}}</div>
                    <div>
                        {{#if noDice}}
                            {{localize "MTA.NoDice"}}
                        {{else}}
                            {{#each attributes}}
                                {{translateTrait this}} + 
                            {{/each}}
                            {{value}}
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/each}}
        {{#each dicepools_secondary}}
        <div class="dicePoolBox"> 
            <div class="dicePoolHeader">
                <span class="rollIcon" data-index="{{@index}}">
                    <img src="systems/mta/icons/gui/d10.svg" alt="{{localize "MTA.RollTactic"}}">
                </span>
                
                <span class="dicePoolTitle">{{description}}</span>
            </div>
            <div class="dicePoolFooter">
                <div>
                    {{#if noDice}}
                        {{localize "MTA.NoDice"}}
                    {{else}}
                        {{#each attributes}}
                            {{translateTrait this}} + 
                        {{/each}}
                        {{value}}
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</form>